<h1>新規作成ページ</h1>
<% if @task.errors.any? %>
  <div style="color: red;">
    <h3><%= @task.errors.count %>件のエラーがあります：</h3>
    <ul>
      <% @task.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with(model: @task, local: true) do |f| %>

  <div>
    <p>タスク名</p>
    <%= f.text_field :title %>
  </div>

  <div>
    <p>優先順位（1〜5）</p>
    <%= f.number_field :priority, in: 1..5 %>
  </div>

  <div>
    <p>労力（1〜5）</p>
    <%= f.number_field :effort, in: 1..5 %>
  </div>

  <div>
    <p>説明（任意）</p>
    <%= f.text_area :content %>
  </div>

  <div>
    <p>期限</p>
    <%= f.date_field :deadline %>
  </div>

  <%= f.submit "新規登録" %>

<% end %>
