<h1>ユーザ登録</h1>

<%= form_with(model: @user, local: true) do |f| %>
  <% if @user.errors.any? %>
    <div>
      <h2><%= @user.errors.count %>件のエラーがあります：</h2>
      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>ユーザー名</p>
  <%= f.text_field :name %>

  <p>メールアドレス</p>
  <%= f.email_field :email %>

  <p>パスワード</p>
  <%= f.password_field :password %>

  <p>パスワード確認</p>
  <%= f.password_field :password_confirmation %>

  <%= f.submit "登録" %>
<% end %>

<%= link_to "ログインはこちら", login_path %>
